{{ header }} {{ column_left }} 
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }} "
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }} " data-toggle="tooltip" title="{{ button_cancel }} "
                   class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }} </h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %} 
                <li><a href="{{ breadcrumb.href }} ">{{ breadcrumb.text }} </a></li>
                {% endfor %} 
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %} 
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %} 
        <div class="panel panel-default">
            <!--BEGIN HEADING-->
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }} </h3>
            </div>
            <!--END HEADING-->
            <div class="panel-body">
                <form action="{{ action }} " method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
                  
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_paymentwall_key">{{ entry_key }} </label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_paymentwall_key" value="{{ payment_paymentwall_key }}" id="payment_paymentwall_key" class="form-control"/>
                            {% if error_key %}
                            <div class="text-danger">{{ error_key }} </div>
                            {% endif %} 
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_paymentwall_secret">{{ entry_secret }} </label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_paymentwall_secret" value="{{ payment_paymentwall_secret }}" id="payment_paymentwall_secret" class="form-control"/>
                            {% if error_secret %} 
                            <div class="text-danger">{{ error_secret }} </div>
                            {% endif %} 
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_paymentwall_widget">{{ entry_widget }} </label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_paymentwall_widget" value="{{ payment_paymentwall_widget }}" id="payment_paymentwall_widget" class="form-control"/>
                            {% if error_widget %} 
                            <div class="text-danger">{{ error_widget }} </div>
                            {% endif %} 
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_paymentwall_complete_status">{{ entry_complete_status }} </label>
                        <div class="col-sm-10">
                            <select name="payment_paymentwall_complete_status" id="payment_paymentwall_complete_status" class="form-control">
                                {% for key, value in statuses %}  
                                <option value="{{ key }}"
                                {% if key == payment_paymentwall_complete_status %} selected="selected" {% endif %} >
                                {{ value }} 
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_paymentwall_cancel_status">{{ entry_cancel_status }} </label>
                        <div class="col-sm-10">
                            <select name="payment_paymentwall_cancel_status" id="payment_paymentwall_cancel_status" class="form-control">
                                {% for key, value in statuses %}  
                                <option value="{{ key }} "
                                {% if key == payment_paymentwall_cancel_status %} selected="selected" {% endif %}>
                                {{ value }} 
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_paymentwall_test">{{ entry_test }} </label>
                        <div class="col-sm-10">
                            {% if payment_paymentwall_test %} 
                            <input type="radio" name="payment_paymentwall_test" value="1" checked="checked"/>
                            {{ text_enabled }} 
                            <input type="radio" name="payment_paymentwall_test" value="0"/>
                            {{ text_disabled }} 
                            {% else %}   
                            <input type="radio" name="payment_paymentwall_test" value="1"/>
                            {{ text_enabled }} 
                            <input type="radio" name="payment_paymentwall_test" value="0" checked="checked"/>
                            {{ text_disabled }}
                            {% endif %}
                             
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_paymentwall_delivery">{{ entry_delivery }} </label>
                        <div class="col-sm-10">
                            {% if payment_paymentwall_delivery %} 
                            <input type="radio" name="payment_paymentwall_delivery" value="1" checked="checked"/>
                            {{ text_enabled }} 
                            <input type="radio" name="payment_paymentwall_delivery" value="0"/>
                            {{ text_disabled }} 
                            {% else %}   
                            <input type="radio" name="payment_paymentwall_delivery" value="1"/>
                            {{ text_enabled }} 
                            <input type="radio" name="payment_paymentwall_delivery" value="0" checked="checked"/>
                            {{ text_disabled }} 
                            {% endif %} 
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_paymentwall_success_url">{{ entry_success_url }} </label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_paymentwall_success_url" value="{{ payment_paymentwall_success_url }}" id="payment_paymentwall_success_url" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_paymentwall_sort_order">{{ entry_sort_order }} </label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_paymentwall_sort_order" value="{{ payment_paymentwall_sort_order }}" id="payment_paymentwall_sort_order" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_paymentwall_status">{{ entry_active }} </label>
                        <div class="col-sm-10">
                            <select name="payment_paymentwall_status" class="form-control">
                                {% if payment_paymentwall_status %}
                                <option value="1" selected="selected">{{ text_enabled }} </option>
                                <option value="0">{{ text_disabled }} </option>
                                {% else %}
                                <option value="1">{{ text_enabled }} </option>
                                <option value="0" selected="selected">{{ text_disabled }} </option>
                                {% endif %} 
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_paymentwall_use_hosted_page">{{ entry_use_hosted_page }} </label>
                        <div class="col-sm-10">
                            <select name="payment_paymentwall_use_hosted_page" class="form-control">
                                {% if payment_paymentwall_use_hosted_page %}
                                <option value="1" selected="selected">{{ text_yes }} </option>
                                <option value="0">{{ text_no }} </option>
                                {% else %}
                                <option value="1">{{ text_yes }} </option>
                                <option value="0" selected="selected">{{ text_no }} </option>
                                {% endif %}
                            </select>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}